{% extends 'core/base.html'%}
{% block title %}Регистрация{% endblock %}
{% load static %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <h2>Регистрация</h2>
    
    <label for="username">Никнейм:</label><br>
    <input type="text" id="username" name="username" required><br>
    
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br>
    
    <label for="password">Пароль:</label><br>
    <input type="password" id="password" name="password" required><br>
    
    <label for="password_repeat">Пароль (подтверждение):</label><br>
    <input type="password" id="password" name="password_repeat" required><br>

    <button type="submit">Зарегистрироваться</button>
</form>
{% endblock %}